@import 'variables';
@import 'base';
@import 'mixins';
@import 'extends';

.container {
  display: flex;
  justify-content: space-between;

  .box {
    width: 30%;
    padding: 20px;
    color: $color-primary;
    background-color: white;
    border-radius: 8px;

    &.active {
      background: silver;
      color: white;
    }

    h2 {
      font-size: 22px;
    }

    p {
      text-indent: 30px;
      font-size: 18px;
      font-weight: 100;
      letter-spacing: 2px;

      &.hiden {
        display: none;
      }
    }

    ul {
      @include reset-list();
    }

    a {
      color: green;

      &:hover {
        color: yellow;

        & + p.hiden {
          display: block;
        }
      }
    }

    .success {
      @extend %box-alert;
      @include bg-effect(success);
    }

    .warning {
      @extend %box-alert;
      @include bg-effect(warning);
      color: black
    }

    .danger {
      @extend %box-alert;
      @include bg-effect(danger);
    }
  }
}